{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">My Feedback</h6>
            <a href="{% url 'feedback_form' %}">Submit New Feedback</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">/</th>
                        <th scope="col">Course</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Submitted At</th>
                    </tr>
                </thead>
                <tbody>
                    {% if feedback_list %}
                        {% for feedback in feedback_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ feedback.department.name }}</td>
                            <td>{{ feedback.comments }}</td>
                            <td>{{ feedback.rating }}</td>
                            <td>{{ feedback.created_at }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No Feedback Submitted</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}