{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Enrollment Management</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">/</th>
                        <th scope="col">Student</th>
                        <th scope="col">Department</th>
                        <th scope="col">Academic Year</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Enrolled</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if enrollments %}
                        {% for enrollment in enrollments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ enrollment.student.username }}</td>
                            <td>{{ enrollment.department.name }}</td>
                            <td>{{ enrollment.academic_year }}</td>
                            <td>{{ enrollment.status|capfirst }}</td>
                            <td>{{ enrollment.date_enrolled }}</td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'remove_enrollment' enrollment.id %}">Remove</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">No Enrollments Found</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}