{% extends 'base.html' %} {% block content %}

<div class="container-fluid position-relative d-flex p-0">
  <!-- Table Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
          <h6 class="mb-4 text-center">Courses List</h6>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Degree</th>
                  <th scope="col">Department</th>
                  <th scope="col">Year</th>
                  <th scope="col">Semester</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for enrollment in enrollments %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ enrollment.department.degree.name }}</td>
                  <td>{{ enrollment.department.name }}</td>
                  <td>{{ enrollment.academic_year }}</td>
                  <td>{{ enrollment.department.degree.total_semesters }}</td>
                  <td><a href="{% url 'course_details' enrollment.id %}" class="btn btn-primary">View</a></td>
                </tr>
                {% endfor %}        
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
