{% extends 'base.html' %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Upload Project</h6>
            <a href="">Show All</a>
        </div>
        <form method="POST" action="{% url 'project_upload' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label text-white">Project Title</label>
                <input type="text" name="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label text-white">Description</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="course" class="form-label text-white">Course</label>
                <select name="course" class="form-select" required>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.course_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="assigned_date" class="form-label text-white">Assigned Date</label>
                <input type="date" name="assigned_date" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="due_date" class="form-label text-white">Due Date</label>
                <input type="date" name="due_date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Upload Project</button>
        </form>
    </div>
</div>
{% endblock %}