{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">My Events</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">/</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Certificate</th>
                    </tr>
                </thead>
                <tbody>
                    {% if participations %}
                        {% for participation in participations %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ participation.event.name }}</td>
                            <td>{{ participation.event.department.name|default:"None" }}</td>
                            <td>{{ participation.role }}</td>
                            <td>{{ participation.status }}</td>
                            <td>{{ participation.feedback|default:"None" }}</td>
                            <td>
                                {% if participation.certificate %}
                                    <a href="{{ participation.certificate.url }}" class="btn btn-sm btn-info" target="_blank">Download</a>
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">No Events Participated</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}